.main-footer{
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
    background-color: #42a5f5;
    padding-top: 1em;
    
    position: relative;
    bottom: 0px;
    width: 100%;    
}


.white-text{
    color: rgba(3, 5, 5, 0.671);
    font-size: 23px;
}

.socialNet{
    border: #b2ebf2 solid 5px ;
    border-radius: 14%;
    display: flex;
    position: absolute;
    right: 99px;
    flex-direction:column;
    background-color: 
    #b3e5fc;
   
}


.socialNet a{
    color: white;
}
