#log{
    margin-left:-3%;
  
}

#icon{
    margin-left: 74%;
    margin-top: 8px;
}

#logo{
    margin-top: 1%;
    border-radius: 25%;
    border: 3px solid skyblue;
    padding-bottom: 7%;
    margin-left: 19px;
    margin-bottom: -109px;
}