.grid-container {
    display: grid;
    height: 400px;
    align-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 18px;
    
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 52px 0;
    font-size: 20px;
    border-radius: 4%;
  }
  #h1{
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      border: 2px solid #4fc3f7;
      border-radius: 50%;
      margin-left: 35%;
      margin-right: 35%;
      background-color: #4fc3f7;

  }

  #img1{
      height: 100%;
      width: 90%;
      border-radius: 10%;
      border: 2px solid black;
      padding: 5px;
  }
  #img1:hover{
    box-shadow: 0 0 10px 8px rgba(152, 456, 152, 0.9);
  }
  #img-footer{
    width: 100%;
  }
  
  #h2-info{
   
      position: absolute;
      left: 0px;
      width: 100%;
      border: 2px solid #4fc3f7;
      padding: 10px;
      border-radius: 2%;
      background-color:#4fc3f7;
  
  }

  .Video{
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }