#sell {
    text-align: center;
    align-content: center;
  }
  
  .table {
    border: 3px solid rgb(109, 109, 150);
    text-align: center;
    align-content: center;
    margin-left: 20%;
  }
  .principal {
    align-items: center;
    display: flex;
    height: 100vh;
  }
  
  .secundario {
    margin: 0 auto;
  }
  